
.ui
{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

.button
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */

    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 10px;
}

.empty:hover
{
    text-decoration: underline;
    font-weight: bold;
}

.empty:active
{
    padding-bottom: 2px;
}

$borderColour: #353b488f;

.border
{
    background: #ffffff;
    outline: 1px solid $borderColour;
}

.border:hover
{
    outline: 2px solid $borderColour;
}

.border:active
{
    background: $borderColour;
}

.raised
{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 2.5px 5px 0px, rgba(0, 0, 0, 0.23) -2px 1px 6px 0px;
}

.raised:hover
{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 4px 5px 0px, rgba(0, 0, 0, 0.23) -3px 1px 6px 0px;
}

.raised:active
{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 2px 3px 0px, rgba(0, 0, 0, 0.23) -1px 1px 4px 0px;
}